.wrapper {
  width: 100%;
}
.titleWrapper {
  display: flex;
  background-image: url('https://avisassets.abgemea.com/.imaging/inspirationLarge/dam/DMS/global/homepage/inspirational/spring/AVIS_SPRING-2023.jpg');

  height: 600px;
  width: 100%;
  background-size: cover;
  background-position-y: center;
}
.title {
  color: white;

  margin-left: 100px;
    margin-right: auto;
    margin-top: 100px;

    font-size: 50px;
}
.benefits {
  background-color: #f3f3f3;
  padding: 30px;
}
.benefitsList {
  display: flex;
  list-style: none;
  column-gap: 120px;
  
}
.benefitsList li {
  font-size: 30px;
  cursor: pointer;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

li > svg {
  fill: red;
}