.wrapper {
  margin: 150px 0;
}

.form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
  align-items: center
}

.labelText {
  margin-right: 5px;
  font-size: 12px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 15px;
  list-style: none;

  margin-bottom: 100px;
}

.moreBtn {
  color: #3470FF;
  background-color: transparent;
  border: none;
  display: flex;
  margin: 0 auto;

  text-decoration: underline;
}